@charset "utf-8";

/* survey */
.survey_document_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;}
.survey_document_wrap:before{display:block;content:'';width:100%;height:100%;background:#000;position:fixed;top:0;left:0; opacity: .3;}
.survey_swiper_zone{position:fixed;top:0;left:0;width:100%;height:100%;display:block;background:#fff;z-index:50;overflow:hidden;min-width:280px;overflow-y:auto;}
.swiper-container.survey{width:100%;max-width:767px;margin:0 auto;}
.swiper-container.survey .swiper-wrapper{}
.swiper-container.survey .swiper-slide{}
.survey_gate_wrap{min-height:100vh; text-align:left; box-sizing:border-box;background:#10234b;padding:8.71vw 10.484vw 0 0}
.gate_logo_row{display:flex; align-items: center; gap:2.258vw;}
.gate_logo_row:before{display:block; content:''; height: 0.403vw; background:#d1d1d1; flex:1;}
.gate_logo_row img{max-width:27.419vw;vertical-align: middle;}
.gate_title_main{line-height:1.3;padding:16vw 0 0 10.081vw; font-size:9.194vw; font-weight:900; color:#fff;}
.gate_title_sub{letter-spacing:-1px;padding:9vw 0 0 10.081vw; font-size:9.194vw; color:#fff;}

.survey_docu_wrap{display:flex;flex-direction: column;min-height:100vh;box-sizing: border-box; padding-bottom:70px;}
.survey_docu_wrap.type2{align-items: center;justify-content: center;padding:20px;gap:20px;}
.survey_docu_inner{flex:1;display:flex;align-items: center; justify-content: center; flex-direction: column;gap:20px;}
.survey_docu_message{font-size:30px;color:#10234b; font-weight:700; }
.survey_title_row{flex:0;padding:30px 20px;}
.survey_title_main{display:flex;gap:8px;}
.survey_title_bullet,
.survey_title_liquid{color:#10234b;font-size:28px; font-weight:700;}
.survey_title_bullet{}
.survey_title_liquid{ }
.survey_title_sub{font-size:18px;word-break:keep-all;margin-top:10px; color:#383838;line-height:1.4;}
.survey_title_sub strong{word-break:keep-all;}
.survey_form_row{flex:1;overflow:hidden;min-height:0;display:flex; flex-direction: column;}
.survey_form_list{flex:1;display:flex; flex-direction: column; gap:15px;padding:0 20px;}
.survey_form_list > li{}
.survey_form_list > li.has_ta{flex:1;display:flex; flex-direction: column; position:relative;min-height:100px;}
.survey_form_list > li.has_ta textarea.survey_ta{position:absolute;top:0;left:0;width:100%;}
.survey_form_list > li:last-of-type{}
.props_button{appearance: none;  display:flex;border:1px solid #10234b;background:none;width:100%;box-sizing: border-box; word-break:break-all; height:100%; padding:10px 20px; font-size:20px;font-weight:700;color:#10234b;}
.props_button.active{background:#10234b;color:#fff;}
textarea.survey_ta{flex:1;width:100%;height:100%; box-sizing: border-box; border:1px solid #10234b; padding:20px; font-size:20px; font-weight:700;color:#10234b; resize: none; }
textarea.survey_ta::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #454545; font-weight:400;
}
textarea.survey_ta::-moz-placeholder { /* Firefox 19+ */
color: #454545; font-weight:400;
}
textarea.survey_ta:-ms-input-placeholder { /* IE 10+ */
color: #454545; font-weight:400;
}
textarea.survey_ta:-moz-placeholder { /* Firefox 18- */
color: #454545; font-weight:400;
}


.props_item_list{ display:flex; flex-wrap:wrap;gap:15px; margin-right:-15px; align-items: stretch;}
.props_item_list > li{flex:0 0 calc(33.33333% - 15px);}
.props_item_list > li .props_button{padding:10px;font-size:18px;letter-spacing: -1px; text-align: center; justify-content: center; align-items: center;}
.props_item_list > li:last-of-type{}

.swiper_pagination_layer{min-width:280px; display:none; font-size:0;line-height:0;  position:fixed;bottom:0;left:50%;max-width:767px; background:#fff; margin:0 auto; transform:translate(-50%); width:100%;height:70px;justify-content: space-between;align-items: center;box-sizing: border-box;padding:0 20px; z-index:20;}
.swiper_pagination_layer.active{display:flex;}
.swiper_pagination_cols{}
.swiper_fraction_cols{}
.swiper_fraction_para{font-size:22px;color:#282828;line-height:1;display:flex;align-items: center;}
.swiper_pagination_layer .swiper-pagination{position:static;}
.swiper_pagination_layer .swiper-pagination-bullet{opacity:1;width:20px;height:20px; display:inline-block; background:#b3b3b3; margin-right:8px;}
.swiper_pagination_layer .swiper-pagination-bullet:first-of-type,
.swiper_pagination_layer .swiper-pagination-bullet:last-of-type{display:none;}
.swiper_pagination_layer .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-image: -moz-linear-gradient( -90deg, rgb(0,70,255) 0%, rgb(16,35,75) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(0,70,255) 0%, rgb(16,35,75) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(0,70,255) 0%, rgb(16,35,75) 100%);
}


.btn_survey_close{display:inline-block;width:40px;height:40px;position:absolute;top:15px;right:15px;font-size:0;line-height:0;background:none; appearance: none;}
.btn_survey_close:before,
.btn_survey_close:after{width:30px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#10234b; margin:-1px 0 0 -15px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_survey_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_survey_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.survey_docu_btn_row{flex:0;width:100%;}
.btn_control_box{background:#10234b; color:#fff;font-size:24px; text-align: center; display:block;padding:15px;box-sizing: border-box; width:100%;}

@media (max-width:767px){
    .survey_document_wrap{display:block;}
}
@media (max-width:374px){
    .survey_title_sub br:not(.imp){display:none;}
}
@media (min-width:768px){
    .survey_gate_wrap{padding:54px 65px 0 0}
    .gate_logo_row{gap:14px;}
    .gate_logo_row:before{height: 2px;}
    .gate_logo_row img{max-width:170px;}
    .gate_title_main{padding:102.5px 0 0 64px; font-size:57px; }
    .gate_title_sub{padding:66.5px 0 0 64px; font-size:57px;}
}
/* // survey */